body {
    display: flex;
    justify-content: center;
}

.border {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 430px;
    border: 1px solid black;
}

.border div {
    width: 20px;
    height: 20px;
}

.invader {
    background-color: purple;
    border-radius: 10px;
}

.shooter {
    background-color: red;
}

#score {
    position: absolute;
    display: flex;
    align-items: center;
    height: 90vh;
    font-family: Arial;
    font-size: large;
    color: red;
}